@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #121212;
    background: #E8EAE6;
}

.hero{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: inherit;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

header a:hover{
    transform: scale(1.04);
}

header img{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.btn-back{
    font-weight: 800;
    background-color: #C8C6C6;
    padding: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: flex;
    align-items: center;
    border: none;
}

.btn-back img{
    width: 15px;
    height: auto;
    padding-right: 3px;
}

.btn-back:hover{
    transform: scale(1.04);
}

.hero header{
    padding: 24px 14px;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
    overflow: hidden;
}

.car-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

#nome-carro{
    font-size: 6vw;
}

#preco-medio{
    font-size: 2vw;
}

.car-img{
    max-width: 90%;
    max-height: 60vh;
    object-fit: contain;
    margin-bottom: 20px;
    padding-right: 300px;
}

footer{
    display: flex;
    margin-top: auto;
}

.swap-btn{
    width: 640px;
    height: 60px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.swap-btn:hover{
    text-decoration: underline;
}

.ativo{
    background-color: #C8C6C6;
}

.ficha-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.ficha-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.conteudo-tabela {
    text-align: center;
    min-width: 250px;
}

.seta {
    width: 30px;
    cursor: pointer;
}

.esquerda {
    margin-right: 10px;
}

.direita {
    margin-left: 10px;
}

.pagina-indicador {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.7;
}

.tooltip {
    position: absolute;
    width: 250px;
    bottom: -100%;
    left: 1070%;
    transform: translateX(-50%);

    background: #222;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;

    opacity: 0;
    visibility: hidden;
}

.info-icon {
    position: relative;
    display: inline-block;
}

.info-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

table, td {
    border: 1px solid black;
}

.tabela {
    height: 100%;
    font-size: 22px;
}

.tabela td {
    padding: 12px;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modelo-img{
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
    margin-bottom: 70px;
}

.btns{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.btn-panel{
    width: 280px;
    height: 40px;
    padding: 12px 13px;
    border-radius: 20px;
    font-size: 16px;
    border: 2px solid #C8C6C6;
    background: inherit;
    cursor: pointer;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    color: inherit;
    text-decoration: none;
}


.btn-panel img{
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.btn-panel:hover{
    transform: scale(1.03);
}

.modal{
    background-color: #E8EAE6;
    width: 1400px;
    height: 700px;
    margin: auto auto;
    border-radius: 16px;
}

.close-modal{
    margin: 12px 0px 50px 12px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.close-modal:hover{
    transform: scale(1.02);
}

.close-modal img{
    width: 30px;
    height: auto;
}

.maintenance-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px;
    gap: 2rem;
}

.maintenance-cards{
    background-color: #E8EAE6;
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    border-radius: 28px;
}

.maintenance-cards:hover{
    transform: scale(1.05);
}

.maintenance-card{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 28px;
}

.maintenance-card img{
    width: 200px;
    height: 300;
}

.aval-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aval-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 50px;
    gap: 3rem;
}

#aval-header{
    width: 100%;
    display: flex;
    font-size: 19px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

#aval-header img{
    width: 52px;
    margin-right: 10px;
}

.aval-cards{
    background-color: #E8EAE6;
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    border-radius: 28px;
    font-size: 22px;
    padding: 20px;
}

.aval-cards:hover{
    transform: scale(1.002);
}

.aval-card{
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 28px;
}

.estrela.cheia {
    color: gold;
}

.estrela.vazia {
    color: #ccc;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination-card{
    background-color: #E8EAE6;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.pagination-card:hover{
    transform: scale(1.03);
}