@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    color: #121212;
    background: #E8EAE6;
}

.hero{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a{
    color: inherit;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

header a:hover{
    transform: scale(1.04);
}

header img{
    width: 35px;
    height: auto;
    cursor: pointer;
}

.btn-back{
    font-weight: 800;
    background-color: #C8C6C6;
    padding: 6px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: flex;
    align-items: center;
    border: none;
}

.btn-back img{
    width: 15px;
    height: auto;
    padding-right: 3px;
}

.btn-back:hover{
    transform: scale(1.04);
}

.hero header{
    padding: 24px 14px;
}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 110px;
    overflow: hidden;
}

.car-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 10px;
}

#nome-carro{
    font-size: 6vw;
}

#preco-medio{
    font-size: 2vw;
}

.car-img{
    max-width: 90%;
    max-height: 60vh;
    object-fit: contain;
    margin-bottom: 20px;
    padding-right: 300px;
}

footer{
    display: flex;
    margin-top: auto;
}

.swap-btn{
    width: 640px;
    height: 60px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.swap-btn:hover{
    text-decoration: underline;
}

.ativo{
    background-color: #C8C6C6;
}

.ficha-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.ficha-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.conteudo-tabela {
    text-align: center;
    min-width: 250px;
}

.seta {
    width: 30px;
    cursor: pointer;
}

.esquerda {
    margin-right: 10px;
}

.direita {
    margin-left: 10px;
}

.pagina-indicador {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.7;
}

.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    background: #222;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;

    opacity: 0;
    visibility: hidden;
}

.info-icon {
    position: relative;
    display: inline-block;
}

.info-icon:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

table, td {
    border: 1px solid black;
}

.table {
    width: 100%;
}

.info-box td {
    padding: 4px;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel img{
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
    margin-bottom: 40px;
}

.btns{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.btn-panel{
    width: 300px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px solid #C8C6C6;
    background: inherit;
    cursor: pointer;
    font-weight: 900;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.3s ease;
}

.btn-panel span{
    text-align: center;
    width: 100%;
}

.btn-panel img{
    width: 20px;
    height: 20px;
}

.btn-panel:hover{
    transform: scale(1.03);
}