<div class="aval-content">

    <div class="aval-itens">

            <div id="tabela-estrelas" class="tabela-estrelas">
                <div class="star">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <h2>({{ contagem[1] or 0 }})</h2>
                </div>
                <div class="star">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <h2>({{ contagem[2] or 0 }})</h2>
                </div>
                <div class="star">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <h2>({{ contagem[3] or 0 }})</h2>
                </div>
                <div class="star">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrela.png') }}">
                    <h2>({{ contagem[4] or 0 }})</h2>
                </div>
                <div class="star">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                    <h2>({{ contagem[5] or 0 }})</h2>
                </div>
            </div>

            <div class="aval-panel">
                <div class="aval-cards">
                    {% for avaliacao in avaliacoes %}
                    <div class="aval-card">
                        <div id="aval-header">
                            <img src="{{ url_for('static', filename='img/perfil.png') }}">
                            <h2>{{ avaliacao["user"] }}</h2>
                        </div>
    
                        <p>{{ avaliacao["mensagem"] }}</p>
    
                        <div class="estrelas" data-nota="{{ avaliacao.nota }}">
                            {% for i in range(1, 6) %}
                            {% if i <= avaliacao["nota"] %}
                                <span class="estrela cheia">★</span>
                            {% else %}
                                <span class="estrela vazia">☆</span>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    

                <div class="pagination">
                    <button class="pagination-card">
                        1
                    </button>
                </div>
            </div>
    </div>

</div>