<div class="aval-content">

    <div class="aval-itens">

            <div id="tabela-estrelas" class="tabela-estrelas">
                <div class="star" data-nota="5">
                    <div class="star-header">
                        <h1>5</h1>

                        <div class="stars-icon">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                        </div>
                    </div>

                    <div class="quant_aval">
                        ({{ contagem[5] or 0 }}) Avaliações
                    </div>
                </div>

                <div class="star" data-nota="4">
                    <div class="star-header">
                        <h1>4</h1>

                        <div class="stars-icon">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                        </div>
                    </div>

                    <div class="quant_aval">
                        ({{ contagem[4] or 0 }}) Avaliações
                    </div>
                </div>

                <div class="star" data-nota="3">
                    <div class="star-header">
                        <h1>3</h1>

                        <div class="stars-icon">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                        </div>
                    </div>

                    <div class="quant_aval">
                        ({{ contagem[3] or 0 }}) Avaliações
                    </div>
                </div>

                <div class="star" data-nota="2">
                    <div class="star-header">
                        <h1>2</h1>

                        <div class="stars-icon">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                        </div>
                    </div>

                    <div class="quant_aval">
                        ({{ contagem[2] or 0 }}) Avaliações
                    </div>
                </div>

                <div class="star" data-nota="1">
                    <div class="star-header">
                        <h1>1</h1>

                        <div class="stars-icon">
                            <img src="{{ url_for('static', filename='img/estrelaf.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                            <img src="{{ url_for('static', filename='img/estrela.png') }}">
                        </div>
                    </div>

                    <div class="quant_aval">
                        ({{ contagem[1] or 0 }}) Avaliações
                    </div>
                </div>
            </div>

            <div class="aval-panel">
                <div class="aval-cards">
                    {% for avaliacao in avaliacoes %}
                    <div class="aval-card" data-nota="{{ avaliacao['nota'] }}">
                        <div id="aval-header">
                            <img src="{{ url_for('static', filename='img/perfil.png') }}">
                            <h2>{{ avaliacao["user"] }}</h2>
                        </div>
                    
                        <p>{{ avaliacao["mensagem"] }}</p>
    
                        <div class="estrelas">
                            {% for i in range(1, 6) %}
                                {% if i <= avaliacao["nota"] %}
                                    <img class="estrela-img"
                                         src="{{ url_for('static', filename='img/estrelaf.png') }}">
                                {% else %}
                                    <img class="estrela-img"
                                         src="{{ url_for('static', filename='img/estrela.png') }}">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                    

                <div class="pagination">
                    <button class="pagination-card">
                        1
                    </button>
                </div>
            </div>
    </div>

</div>