<div class="ficha-content">

    <div class="ficha-itens">

            <div id="tabela1" class="tabela">
                {% for ficha in fichas %}
                <div class="info-bloco">
                    <table>
                        <tbody>
                            <tr>
                                <td>Motor</td>
                                <td>{{ ficha.tipo_motor }}
                                    <span class="info-icon">
                                        <img src="{{ url_for('static', filename='img/info.png') }}" width="18">
                                        <span class="tooltip"> {{ ficha.desc_motor }}</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Ano</td>
                                <td>{{ ficha.ano }}</td>
                            </tr>
                            <tr>
                                <td>Potência</td>
                                <td>{{ ficha.potencia }}</td>
                            </tr>
                            <tr>
                                <td>Autonomia</td>
                                <td>{{ ficha.autonomia }}</td>
                            </tr>
                            <tr>
                                <td>Câmbio</td>
                                <td>{{ ficha.cambio }}</td>
                            </tr>
                            <tr>
                                <td>Porte</td>
                                <td>{{ ficha.porte }}</td>
                            </tr>
                            <tr>
                                <td>Dimensões</td>
                                <td>{{ ficha.dimensoes }}</td>
                            </tr>
                            <tr>
                                <td>Lugares</td>
                                <td>{{ ficha.lugares }}</td>
                            </tr>
                            <tr>
                                <td>Velocidade</td>
                                <td>{{ ficha.velocidade_maxima }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>

    </div>
    
        {% for ficha in fichas %}
    
        <div class="panel">
            {% for modelo in modelos %}
            <img id="modelo-img" src="{{ url_for('static', filename='img/carros/' ~ modelo['imagem']) }}" alt="{{ modelo['nome'] }}">
            <div class="btns">
                <a class="btn-panel" href="{{ url_for('static', filename='manuais/' ~ modelo['manual']) }}" download>
                    <img src="{{ url_for('static', filename='img/download.png') }}">
                    Download do Manual
                </a>
                
                <button class="btn-panel open-modal" data-modal="modal-{{ ficha.id }}">
                    <img src="{{ url_for('static', filename='img/maintenance.png') }}">
                    Manutenções
                </button>
            </div>
            {% endfor %} 
        </div>
        
        <dialog class="modal" id="modal-{{ ficha.id }}">
            <button class="close-modal" data-modal="modal-{{ ficha.id }}">
                <img src="{{ url_for('static', filename='img/close.png') }}">
            </button>
        
            <div class="maintenance-content">
                <div class="maintenance-cards">
                    <button class="maintenance-card">
                        <img src="">
        
                        <h2>Motor</h2>
                    </button>
                </div>
                
                <div class="maintenance-cards">
                    <button class="maintenance-card">
                        <img src="">
        
                        <h2>Motor</h2>
                    </button>
                </div>

                <div class="maintenance-cards">
                    <button class="maintenance-card">
                        <img src="">
        
                        <h2>Motor</h2>
                    </button>
                </div>
            </div>

        </dialog>
        
        {% endfor %}
</div>