<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/carros.css">
    <title>Auto Profile - Carros</title>
</head>
<body>
    <section class="hero">
        <header>
            <a href="/"><h2>Auto Profile</h2></a>
            <button class="btn-back" onclick="window.location.replace('/marcas');"><img src="../static/img/seta-esquerda.png" alt="Seta Esquerda">Back</button>
        </header>
        
        <div class="marcas" >
            {% for marca in marcas %}
            <div class="marca {% if marca_ativa == marca['id'] %}marca_ativa{% endif %}" data-id="{{ marca.id }}">
                <img src="{{ url_for('static', filename='img/logos/' ~ marca.imagem) }}" alt="{{ marca.nome }}">
            </div>
            {% endfor %}
        </div>

        <div class="container" id="lista_carros">
            {% for carro in carros %}

            <div class="open-modal" data-modal="modal-{{ carro.id }}" id="card-btn">
                <div class="cards">
                    <div class="carro-card">
                        <img src="{{ url_for('static', filename='img/carros/' ~ carro.imagem) }}" alt="{{ carro.nome }}">

                        <h2>{{ carro.nome }}</h2>
                    </div>
                </div>
            </div>

            <dialog class="modal" id="modal-{{ carro.id }}">
                <button class="close-modal" data-modal="modal-{{ carro.id }}">
                    <img src="{{ url_for('static', filename='img/close.png') }}">
                </button>
                <div class="models-content">
                    {% for modelo in modelos_por_carro[carro["id"]] %}
                    <div class="models-cards">
                        <a href="{{ url_for('carros_por_modelo', id=modelo['id']) }}" class="model-card">
                            <img src="{{ url_for('static', filename='img/carros/' ~ modelo.imagem) }}" alt="{{ modelo.nome }}">
            
                            <h2>{{ modelo["nome"] }}</h2>
                        </a>
                    </div>
                    {% endfor %}
                </div>

            </dialog>

            {% endfor %}
        </div>
    </section>
    <script src="../static/js/script.js"></script>
</body>
</html>