<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/marcas.css">
    <title>Auto Profile - Marcas</title>
</head>
<body>
    <section class="hero">
        <header>
            <a href="/"><h2>Auto Profile</h2></a>
            <button class="btn-back" onclick="window.location.replace('/');"><img src="../static/img/seta-esquerda.png" alt="Seta Esquerda">Back</button>
        </header>
        <div class="container">
                {% for marca in marcas %}
                <a href="/carros?marca_id={{ marca.id }}">
                    <div class="cards">
                        <div class="marca-card">
                            <img src="{{ url_for('static', filename='img/logos/' ~ marca.imagem) }}" alt="{{ marca.nome }}">
    
                            <h2>{{ marca.nome }}</h2>
                        </div>
                    </div>
                </a>
                {% endfor %}
        </div>
    </section>
    <script src="../static/js/script.js"></script>
</body>
</html>