<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/modelos.css">
    <title>Auto Profile - Marcas</title>
</head>
<body>
    <section class="hero">
        <header>
            <a href="/"><h2>Auto Profile</h2></a>
            <button class="btn-back" onclick="window.location.replace('/carros');"><img src="../static/img/seta-esquerda.png" alt="Seta Esquerda">Back</button>
        </header>
        {% for modelo in modelos %}
        <div class="container" id="model-content">
            <div class="car-title">
                <h2 id="nome-carro">{{ modelo["nome"] }}</h2>
                <h2 id="preco-medio">R$ {{ modelo["preco_medio"] }}</h2>
            </div>
            <img src="{{ url_for('static', filename='img/carros/' ~ modelo['imagem']) }}" alt="{{ modelo['nome'] }}" class="car-img">
        </div>
        <footer>
            <button class="swap-btn ativo" data-tipo="geral" data-id="{{ modelo.id }}">Visão Geral</button>
            <button class="swap-btn" data-tipo="ficha" data-id="{{ modelo.id }}">Ficha Técnica</button>
            <button class="swap-btn" data-tipo="avaliacao" data-id="{{ modelo.id }}">Avaliações</button>
        </footer>
        {% endfor %}
    </section>
    <script src="../static/js/script.js"></script>
</body>
</html>