<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/modelos.css">
    <title>Auto Profile - Marcas</title>
</head>
<body>
    <section class="hero">
        {% for modelo in modelos %}
        <header>
            <a href="/"><h2>Auto Profile</h2></a>
            <a href="/carros"><img src="../static/img/back-arrow.png"></a>
        </header>
        <div>
            <h2>{{ modelo["nome"] }}</h2>
            <h2>R$ {{ modelo["preco_medio"] }}</h2>
            <img src="{{ url_for('static', filename='img/carros/' ~ modelo['imagem']) }}" alt="{{ modelo.nome }}">
        </div>
        <div class="container">
        </div>
        {% endfor %}
    </section>
    <script src="../static/js/script.js"></script>
</body>
</html>