<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/modelos.css">
    <title>Auto Profile - Marcas</title>
</head>
<body>
    <section class="hero">
        {% for modelo in modelos %}
        <header>
            <h2>{{ modelo["nome"] }}</h2>
            <h2>{{ modelo["preco_medio"] }}</h2>
            <img src="{{ url_for('static', filename='img/carros/' ~ modelo['imagem']) }}" alt="{{ modelo.nome }}">
        </header>
        <div class="container">
        </div>
        {% endfor %}
    </section>
    <script src="../static/js/script.js"></script>
</body>
</html>